
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Category", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="CategoryName">Category Name</label>
        <input type="text" class="form-control" id="CategoryName" name="CategoryName" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="Image">Image</label>
        <input type="file" class="form-control-file" id="Image" name="Photo" />
    </div>
</div>
<button type="submit" class="btn btn-success">Create</button>
<a href=@Url.Action("Index", "Category", new { area = "Admin" }) class="btn btn-danger">Cancel</a>
}
