@model List<ScratchPad.Models.Brand>
@{
    ViewBag.Title = "Index";
   
}

<h2>Brands</h2>
<div class="d-flex justify-content-between">
    @using (Html.BeginForm("Index", "Brand", null,FormMethod.Get, new { @class = "form-inline" }))
    {
        <label for="search">Search</label>
        <input type="search" name="searchBrand" id="search" class="form-control" value="@ViewBag.SearchTerm" />
        <button class="btn btn-primary">GO</button>
    }

</div>
<table class="table mt-2">
    <thead>
    <tr>
        <th>
            BrandID
        </th>
        <th>
            Brand Name
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var brand in Model)
    {
        <tr>
            <td>@brand.BrandID</td>
            <td>@brand.BrandName</td>
        </tr>
    }

    </tbody>
</table>