
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Brand", new { area = "Admin" }, FormMethod.Post))
{
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="BrandName">Brand Name</label>
            <input type="text" class="form-control" id="BrandName" name="BrandName" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
    <a href=@Url.Action("Index", "Brand",new{area="Admin"}) class="btn btn-danger">Cancel</a>
}

