@model ScratchPad.Models.Brand

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage.cshtml";
}

<h2>Details Of the Brand</h2>
<table class="table mt-2">
    <tr>
        <th>
            Brand Id
        </th>
        <td>
            @Model.BrandID
        </td>
    </tr>
    <tr>
        <th>
            Brand Name
        </th>
        <td>
            @Model.BrandName
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Back", "Index", "Brand", new { area = "Admin" },null)
        </td>

    </tr>
</table>


