@model ScratchPad.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details Of the Category</h2>
<table class="table mt-2">
    <tr>
        <th>
            Category Id
        </th>
        <td>
            @Model.CategoryID
        </td>
    </tr>
    <tr>
        <th>
            Name
        </th>
        <td>
            @Model.CategoryName
        </td>
    </tr>
    <tr>
        <td>
            <a href=@Url.Action("Index","Category")>Back To List</a>
        </td>
       
    </tr>
</table>
