@model ScratchPad.Models.Category

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form method="post" action=@Url.Action("Edit", "Category")>
    <input type="hidden" name="CategoryID" value="@Model.CategoryID" />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="CategoryName">Category Name</label>
            <input type="text" class="form-control" id="CategoryName" name="CategoryName" value="@Model.CategoryName" />
        </div>
        
    </div>
    
    <button type="submit" class="btn btn-success">Update</button>
    <a href=@Url.Action("Index", "Category") class="btn btn-danger">Cancel</a>
</form>
