@model List<DomainModels.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>
<div class="d-flex justify-content-between">
    <form class="form-inline" action=@Url.Action("Index","Category")>
        <label for="search">Search</label>
        <input type="search" name="searchCategory" id="search" class="form-control" value="@ViewBag.SearchTerm" />
        <button class="btn btn-primary">GO</button>
    </form>
</div>
<table class="table mt-2">
    <thead>
        <tr>
            <th>
                CategoryID
            </th>
            <th>
                Category Name
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model)
        {
            <tr>
                <td>@cat.CategoryID</td>
                <td>@cat.CategoryName</td>
                <td>
                    <img src="@Url.Content(String.IsNullOrEmpty(cat.Photo)?"~/upload-img/no.png":cat.Photo)" width="100px" height="100px" />
                </td>

            </tr>
        }

    </tbody>
</table>