
@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @Scripts.Render("~/bundles/scriptbundler1")
    @Scripts.Render("~/bundles/scriptbundler2")

    @Styles.Render("~/bundles/stylebundler1")
    @Styles.Render("~/bundles/stylebundler2")
</head>
<body>
    <div> 
    </div>
</body>
</html>
